.nav{
    padding-inline: 5%;
    /* justify-content: space-between; */
    align-items: center;
    display: flex;
    padding-top: 10px;
    height: 80px;
}

.logo{
    margin-right: auto;
    width: 150px;
}

.handBurgerMenu{
    display: none;
}

@media (max-width: 640px){
    .handBurgerMenu{
        display: block;
    }
}


/* ********************* quick responsive fixes ************* */
@media (max-width: 860px){
    .logo{
        width: 100px;
    };
}
@media (max-width: 640px){
    .ctaBtnsNav{
        display: none
    };
}

.residaNavBtns{
    width: 150px;
    height: 50px;
    background-color: transparent;
    font-family: Manrope;
    border: 1.5px solid #1F4B43;
    font-size: 15px;
    margin-left: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 500;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
}
.residaNavBtnsContact{
    border: none;
}
.residaNavBtnsDownLoad:hover{
    background-color: #1F4B43;
    color: white;
}
/* ********************* quick responsive fixes ************* */
@media (max-width: 860px){
    .residaNavBtns{
        width: 120px;
        height: 40px;
        font-size: 13px
    };
}

main{
    height: 90vh;
    background-image: url('Assets/Background.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main h1{
    font-family: 'Margaret';
    font-size: 3.5em;
    font-weight: bolder;
    color: #1F4B43;
}
/* ********************* quick responsive fixes ************* */
@media (max-width: 1160px){
    main h1{
        font-size: 2.5em;
    };
}
/* ********************* quick responsive fixes ************* */
@media (max-width: 860px){
    main h1{
        font-size: 2em;
    };
}
/* ********************* quick responsive fixes ************* */
@media (max-width: 640px){
    main h1{
        width: 350px;
        text-align: center
    };
}


main p{
    font-family: 'Manrope';
    font-size: 17px;
    text-align: center;
}
/* ********************* quick responsive fixes ************* */
@media (max-width: 1160px){
    main p{
        font-size: 15px;
    };
}
@media (max-width: 860px){
    main p{
        width: 600px;
    };
}
@media (max-width: 640px){
    main p{
        width: 400px;
    };
}
@media (max-width: 400px){
    main p{
        width: 350px;
    };
}

/* main section buttons container */
@media (max-width: 640px){
    .ctaBtnsMain{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.residaMainBtnsDownLoad{
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1F4B43;
    color: white;
    &:hover{
        color: #1F4B43;
        background-color: transparent;
        border: 1px solid #1F4B43;
    }
}
@media (max-width: 640px){
    .residaMainBtnsDownLoad{
        border-radius: 10px    ;
        -webkit-border-radius: 10px    ;
        -moz-border-radius: 10px    ;
        -ms-border-radius: 10px    ;
        -o-border-radius: 10px    ;
};
}

.residaMainBtnsLearnmore{
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #1F4B43;
    border: 1px solid #1F4B43;
    &:hover{
        color: white;
        background-color: #1F4B43;
        border:none;
    }
}

@media (max-width: 640px){
    .residaMainBtnsLearnmore{
        border-radius: 10px    ;
        -webkit-border-radius: 10px    ;
        -moz-border-radius: 10px    ;
        -ms-border-radius: 10px    ;
        -o-border-radius: 10px    ;
};
}



/* feature Section */

.featureSection{
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    gap: 103px;
    background-color: rgba(187, 219, 243, 0.2);
    @media (max-width: 990px) {
        gap: 50px;
        height: auto;
        padding-block: 20px;
    };
    @media (max-width: 800px) {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding-block: 20px;
    }
}
/* featureSection img responsiveness */
.featureSection img {
    @media (max-width: 990px) {
        width: 230px;
    }
}

.featuresSectionItemContainer{
    height: 90%;
    padding-top: 70px;
    font-family: Manrope;
    @media (max-width: 800px) {
        padding-top: 0;
        text-align: center;
        height: auto;
    }
}

.featuresSectionItemContainer h3{
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 16px;
    color: #1F4B43;
    @media (max-width: 990px) {
        font-size: 25px;
    }
}

.featuresSectionItemContainer h4{
    color: #1F4B43;
    @media (max-width: 990px) {
        font-size: 18px;
    }
}

.featuresSectionItemContainer p {
    font-size: 20px;
    color: #141115;
    width: 506px;
    @media (max-width: 990px) {
        font-size: 18px;
    };
    @media (max-width: 520px) {
        font-size: 17px;
        width: 350px;
    }
}

/* guaranteeSection */

.guaranteeSection{
    display: flex;
    height: auto;
    padding-block: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    @media (max-width: 1080px) {
        display: none;
    }
}

.guaranteeSection div{
    gap: 12px;
    display: flex;
}

.guaranteeSection h2{
    width: 452px;
    font-size: 28px;
    font-family: Manrope;
    font-weight: 900;
    color: #1F4B43;
}


/* dreamHomeSection */

.dreamHomeSection{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-image: url('Assets/green-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    font-family: Manrope;
    color: white;
    @media (max-width: 710px) {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding-block: 40px;
    }
}

/* dreamHomeSection img responsiveness */

.dreamHomeSection img{
    @media (max-width: 950px) {
        width: 400px;
    }
}

.dreamHomeSection h2{
    font-weight: 900;
    @media (max-width: 950px) {
        font-size: 23px;
    }
}
.dreamHomeSection h3{
    font-size: 28px;
    font-weight: 200;
    @media (max-width: 950px) {
        font-size: 20px;
    }
}
.ctabtnDreamHomeSection{
    width: 184px;
    height: 45px;
    background-color: white;
    color: black;
    color: #1B2056;
    font-family: Inter;
    margin-top: 25px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* NeighborhoodGuidesSection */

.NeighborhoodGuidesSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    font-family: Manrope;
    @media (max-width: 1150px) {
        gap: 30px;
    }
    @media (max-width: 800px) {
        flex-direction: column;
        padding-block: 20px;
        text-align: center;
    }
}

/* NeighborhoodGuidesSection img responsiveness design */
.NeighborhoodGuidesSectionImg{
    @media (max-width: 1150px) {
        width: 400px;
    }
    @media (max-width: 800px) {
        width: 350px;
    }
}

.NeighborhoodGuidesSection h1{
    color: #1F4B43;
    margin-bottom: 31px;
    line-height: 45px;
    @media (max-width: 1150px) {
        font-size: 27px;
    }
}

.NeighborhoodGuidesSection p{
    font-size: 18px;
    width: 583px;
    line-height: 35px;
    @media (max-width: 1150px) {
        font-size: 13px;
        width: 383px;
        line-height: 25px
    }
    @media (max-width: 400px) {
        width: 300px;
    }
}

.NeighborhoodGuidesSection button,.dwdBtn {
    width: 253px;
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    color: #1F4B43;
    background-color: #DBA94D;
    font-weight: 700;
    margin-top: 31px;
    @media (max-width: 800px) {
        margin: auto;
    }
}



/* ************* FeaturedProperties section ************* */

.FeaturedProperties{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
}

.FeaturedProperties h1{
    font-weight: 700;
    color: #1F4B43;
    margin-bottom: 18px;
    @media (max-width: 417px) {
        font-size: 28px;
    }
}

.FeaturedProperties > p{
    color: #141115;
    line-height: 28px;
    font-size: 16px;
    @media (min-width: 1170px) {
        width: 1200px;
    }
}

#HouseCardContainer{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    @media (max-width: 1000px) {
        gap: 10px;
    }
    @media (max-width: 930px) {
        flex-wrap: wrap;
    }
}

.card{
    width: 430px;
    gap: 22px;
    @media (max-width: 1450px) {
        width: 300px;
    }
}

.card img{
    @media (max-width: 1450px) {
        width: 300px;
    }
}

.cardTitleContainer{
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.cardTitleContainer h3{
    font-weight: 600;
    color: black;
}

.badgeContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.cardBadge{
    width: fit-content;
    background-color: #DEDEDE;
    font-weight: 500;
    color: #011948;
    padding: 6px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    @media (max-width: 1450px) {
        font-size: 12px;
    }
}

.card p{
    font-weight: 100;
    font-size: 20px;
    color: #909090;
}



/* PropertySale Section */

.PropertySaleSeection{
    display: flex;
    justify-content: center;
    font-family: Manrope;
    margin-left: auto;
    padding-block: 100px;
    gap: 100px;
    @media (max-width: 1390px) {
        gap: 10px;
    }
    @media (max-width: 943px) {
        flex-wrap: wrap;
        padding-block: 20px;
        text-align: center;
        gap: 0;
    }
}

.PropertySaleSeectionH1Conatainer{
    display: flex;
    flex-direction: column;
    @media (max-width: 943px) {
        align-items: center;
    }
}


.PropertySaleSeection h1{
    color: #1F4B43;
    width: 450px;
    @media (max-width: 943px) {
        font-size: 20px;
    }
}
.PropertySaleSeectionH1{
    font-weight: 800;
    @media (max-width: 943px) {
        font-size: 26px !important;
    }
}

.PropertySaleSeection p{
    font-size: 20px;
    width: 600px;
    margin-block: 20px;
    @media (max-width: 1390px) {
        font-size: 17px;
    }
    @media (max-width: 1093px) {
        width: 400px;
    }
    @media (max-width: 943px) {
        font-size: 15px;
        width: 350px;
    }
}

.dwdBtn{
    @media (max-width: 943px) {
        margin: auto;
    }
}

.houseSaleIconContainer{
    display: flex;
    width: fit-content;
    @media (max-width: 943px) {
        margin: auto;
    }

}

.houseSaleIcon1{
    z-index: -3;
}

.houseSaleIcon2{
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    z-index: -2;
}

.houseSaleIcon3{
    z-index: -1;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
}

.houseSaleIcon4{
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
}

.houseImg{
    @media (max-width: 1390px) {
        width: 451px;
    }
    @media (max-width: 943px) {
        width: 300px;
    }
}


/* **************DiscoverHomesSection************ */

.DiscoverHomesSection{
    height: 40vh;
    background-image: url(Assets/discoverSectionBg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    @media (min-width: 1142px) {
        height: 50vh;
    }
}

.DiscoverHomesSection button{
    width: 200px;
    background-color: #E7C873;
    border: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #1F4B43;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.DiscoverHomesSection h1{
    font-weight: 700;
    @media (min-width: 1142px) {
        width: 400px;
        text-align: center;
    }
    @media (max-width: 691px) {
        width: 350px;
        text-align: center;
        font-size: 25px;
    }
}


/* ******************FindHomesSection*************** */

.FindHomesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FindHomesSection h1{
    font-family: Manrope;
    font-weight: 700;
    color: #1F4B43;
    margin-bottom: 20px;
    @media (max-width: 757px) {
        font-size: 28px;
        width: 350px;
        text-align: center;
    }
}

.ApartmentinLagos{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
    @media (max-width: 757px) {
        font-size: 18px;
        width: 300px;
        text-align: center;
    }
}

.FindHomesCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.FindHomesCard{
    width: 324px;
    height: 251px;
    border-radius: 16px;
    /*background-color: #DBA94D;
    */-webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
    -webkit-border-radius: 16px;
    @media(max-width: 757px){
        width: 300px;
    }
}

.FindHomesCard1{
    background-image: url(Assets/LekkiBgimg.png);
}
.FindHomesCard2{
    background-image: url(Assets/Agegebgimg.png);
}
.FindHomesCard3{
    background-image: url(Assets/Gbagadabgimg.png);
}
.FindHomesCard4{
    background-image: url(Assets/Obalendebgimg.png);
}
.FindHomesCard5{
    background-image: url(Assets/Yababgimg.png);
}
.FindHomesCard6{
    background-image: url(Assets/discoverSectionBg.png);
}


.FindHomesCard div{
    width: 280px;
    height: 80px;
    backdrop-filter: blur(50px);
    border-radius: 16px;
    color: #fff;
    font-family: Manrope;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.FindHomesCard p{
    font-weight: 300;
    margin: 0;
    font-size: 12px;
}

.FindHomesCard h3{
    margin: 0;
    font-size: 20px;
}
